.header {
  margin-bottom: 30px;
  margin-top: 20px;
}

.header h1 {
  margin: 20px 0;
}
.header .nav {
  background-color: black;
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
}

.header .nav li:first-child {
  margin-left: 5px;
}

.header .nav li {
  margin-right: 10px;
}

.header .nav li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.login {
  color: white;
  font-size: 16px;
  margin-left: auto;
}

.header .nav .active {
  /* color :red; */
  text-decoration: underline;
}

.popup{
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 background-color: rgba(0, 0, 0, 0.5);
 display: flex;
 align-items: center;
 justify-content: center;
}

.popup .formScreen{
  background-color: white;
  width: 45%;
  padding: 20px;
  border-radius: 15px;
}